@font-face {
  font-family: "Pretendard-Bold";
  src: url("/card/font/Pretendard-Bold.woff") format("woff");
  font-weight: 400, 700;
  font-style: normal;
}

@font-face {
  font-family: "Pretendard-Regular";
  src: url("/card/font/Pretendard-Regular.woff") format("woff");
  font-weight: 400, 700;
  font-style: normal;
}

body,
h2,
div {
  margin: 0;
}

.card {
  font-family: "Pretendard-Regular";
  width: 288px;
  height: 348px;
  box-shadow: 0px 0px 9px 0px #00000033;
  border-radius: 10px;
  overflow: hidden;
}

img {
  width: 100%;
  aspect-ratio: 288/196;
}

.main {
  display: inline-block;
  padding: 20px 15px 16px 15px;
  height: calc(14px * 1.6 * 3);
}

h2 {
  font-size: 16px;
  font-weight: 700;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.content {
  font-size: 12px;
  line-height: 1.6;
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  color: #5a6a72;
}

.read {
  width: 70px;
  height: 24px;
  text-decoration: underline;
  position: relative;
  top: 8px;
  left: 5px;
  font-family: "Pretendard-Bold";
  color: inherit;
}
