@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard-Bold";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff")
    format("woff");
  font-weight: 700;
  font-style: normal;
}

:root {
  --main-font: "Pretendard-Regular";
  --main-color: #29363d;
  --body-color: #fffaf0;
}

body,
h1,
h2 {
  margin: 0;
  padding: 0;
}

img {
  border: 0;
  vertical-align: top;
}

body {
  font-family: var(--main-font);
  background-color: var(--body-color);
}

a {
  color: inherit;
  text-decoration: none;
}

/* ------- */

header {
  background-color: white;
}

.header {
  display: flex;
  justify-content: space-between;
  height: 120px;
  align-items: center;
}

.max-width {
  width: 1284px;
  max-width: calc(100% - 60px);
  margin: auto;
}

.join-btn {
  background-image: url(/img/icon-join.svg);
  background-repeat: no-repeat;
  padding: 4px 0 4px 40px;
  background-position: 0 -3px;
  color: #5a6a72;
  font-family: "Pretendard-Bold";
}

input {
  border: 0;
  margin: 0;
  padding: 0;
}

button {
  border: 0;
  padding: 0;
  background-color: unset;
}
/* ------ */

.login img {
  width: 250px;
  display: block;
  margin: 35px auto;
}

h2.login {
  text-align: center;
  margin: 30px;
}

.login strong {
  font-size: 24px;
  background: linear-gradient(to top, #ffd0d9b2 50%, transparent 50%);
  text-decoration: underline 3px #ff4f6e;
}

.login-form {
  text-align: center;
}
.login-form input {
  display: block;
  margin: 20px auto;
  width: 392px;
  height: 48px;
  border-bottom: 1px solid var(--main-color);
}

.login-form label {
  /* 인라인 블록으로 바꾸고 정렬 맞추기 */
  display: inline-block;
  width: 392px;
  font-size: 14px;
  text-align: left;
}

.login-btn {
  width: 392px;
  height: 48px;
  border-radius: 4px;
  background-color: var(--main-color);
  color: white;
  font-size: 16px;
  font-family: var(--main-font);
  margin: 10px;
}

.login-btn:hover {
  cursor: pointer;
}

.footer {
  text-align: center;
  color: #677880;
  font-size: 12px;
}
