@font-face {
  font-family: "MBC";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/MBC1961GulimM.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

body {
  color: red;
}

h1 {
  color: inherit;
  font-family: MBC, sans-serif;
}

strong {
  border-bottom: 5px solid currentColor;
}

h2 {
  color: #999;
}
