@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard-Bold";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff")
    format("woff");
  font-weight: 700;
  font-style: normal;
}

:root {
  --main-font: "Pretendard-Regular";
  --main-font-size: 12px;
  --main-color: #5a6a72;
}

body,
h3,
p,
img {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.card-list {
  margin: 30px;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.card {
  width: 288px;
  height: 374px;
  font-family: var(--main-font);
  border-radius: 8px;
  box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.card-header {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 3px 14px 0 14px;
  color: var(--main-color);
  font-size: var(--main-font-size);
  align-items: center;
}

.profile-image {
  width: 100%;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  padding: 16px 0 16px;
}

.profile h3 {
  color: #29363d;
  font-size: 16px;
}

.main-image {
  width: 100%;
  aspect-ratio: 288/196;
  object-fit: cover;
}

.content {
  color: var(--main-color);
  font-size: var(--main-font-size);
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  padding: 12px 16px 0 16px;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
}

.read {
  font-weight: 700;
  text-decoration: underline;
  color: #29363d;
  position: relative;
  left: 22px;
  top: 16px;
}

.read-btn {
  position: relative;
  bottom: 1px;
  left: 15px;
}

.btn {
  margin-top: 5px;
}
